doctype html
html(lang="en")
  head
    title= name
    link(href="layout.css", rel="stylesheet")
    link(href="style.css", rel="stylesheet")
    style
      //- include ../layout.css
      //- include ../style.css
  body
    img(class=options.parallax? "background parallax": "background", src="background.jpg")
    div.header
      each section in sections
        a(href="#" + section.title.toLowerCase())
          =section.title
    .iconholder.flexcenter
      img.icon(src=icon)
    section.first  
      .downarrow v
    each aSection in sections
      section(class="flexcenter content " + (aSection.className || ""), id=aSection.title.toLowerCase())
          div: img(src=aSection.image)
          div=aSection.text
    script(src="bundle.js")
      //- include ../script.js
