doctype html

- var imgPath = "images/"

//- These define a section. It is used further down.
mixin sectioncontent(aSection)
  div(class="content-holder flexcenter " + (aSection.className || ""))
    .section-image: img(src=imgPath + aSection.image)
    .section-text=aSection.text

mixin pagesection(aSection)
  section.content(id=aSection.title.toLowerCase())
    if aSection.link
      a(href=aSection.link)
        +sectioncontent(aSection)
    else
      +sectioncontent(aSection)

html(lang="en")
  head
    title= name
    if dist
      style
        include ../dist/all.min.css
    else
      link(href="css/layout.css", rel="stylesheet")
      link(href="css/style.css", rel="stylesheet")
    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    if iosAppID
      meta(name="apple-itunes-app", content= "app-id=" + iosAppID)
  body
    div.background(class=options.parallax && "parallax")
    div.header
      img.icon(src=imgPath + icon)
      each section in sections
        a(href="#" + section.title.toLowerCase())
          =section.title
    section.first.flexcenter
      img.image(src=imgPath + image)
      //- .description=name + " " + description
      .downarrow: img(src=imgPath + "downchevron.png")
    each aSection in sections
      +pagesection(aSection)
    .footer.flexcenter
      div!="&copy; " + copyright
      div
        script.
          //- Dynamic injection to reduce spam.
          document.write("#{contact.substring(0,4)}" + "#{contact.substring(4)}");
      div.builtwith This page was built with 
        a(href="https://github.com/applicvision/scrollpage") applicvision/scrollpage
    //-TODO: Hopefully there is a better way...This passes backgrounds array to JS
    script.
      var backgrounds = "#{backgrounds}".split(",").map(function (name) { return "#{imgPath}" + name });
    if dist
      script
        include ../dist/bundle.min.js
    else
      script(src="dev/bundle.js")
