doctype html

- var imgPath = "images/"

html(lang="en")
  head
    title= name
    if dist
      style
        include ../dist/all.min.css
    else
      link(href="css/layout.css", rel="stylesheet")
      link(href="css/style.css", rel="stylesheet")
  body
    - var backgroundStyle = "background-image: url(" + imgPath + background + ")"
    div.background(class=options.parallax && "parallax", style=backgroundStyle)
    div.header
      img.icon(src=imgPath + icon)
      each section in sections
        a(href="#" + section.title.toLowerCase())
          =section.title
    section.first.flexcenter
      .section-image: img.image(src=imgPath + image)
      .description=name + " " + description
      //- .downarrow: span v
    each aSection in sections
      section.content(id=aSection.title.toLowerCase())
          div(class="flexcenter " + (aSection.className || ""))
            .section-image: img(src=imgPath + aSection.image)
            .section-text=aSection.text
    if dist
      script
        include ../dist/bundle.min.js
    else
      script(src="dev/bundle.js")
