doctype html
html(lang="en")
  head
    title= name
    link(href="layout.css", rel="stylesheet")
    link(href="style.css", rel="stylesheet")
    style
      //- include ../layout.css
      //- include ../style.css
  body
    div(class=options.parallax? "background parallax": "background")
    div.header
      img.icon(src=icon)
      each section in sections
        a(href="#" + section.title.toLowerCase())
          =section.title
    section.first.flexcenter
      .section-image: img.image(src=image)
      .description=name + " " + description
      //- .downarrow v
    each aSection in sections
      section(class="content", id=aSection.title.toLowerCase())
          div(class="flexcenter " + (aSection.className || ""))
            .section-image: img(src=aSection.image)
            .section-text=aSection.text
    script(src="bundle.js")
      //- include ../out/bundle.js
